<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" >My Reservations</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Move this ul to the right -->
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/reservations">Make New Reservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">SignOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <a class="abc" routerLink="/myresource">
      <div class="bcd">
          My Resources
      </div>
  </a>
  <a class="abc" routerLink="/myspaces">
      <div class="bcd">
          My Spaces
      </div>
  </a>
</div>