<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand">Cabin B</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/spaces">Back</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main">
    <div class="div1">
        <div class="r1c1">
            <div class="bench"  (click)="addToMyReservations('B1')">b1</div>
            <div class="bench"  (click)="addToMyReservations('B2')">b2</div>
            <div class="bench"  (click)="addToMyReservations('B3')">b3</div>
            <div class="bench"  (click)="addToMyReservations('B4')">b4</div>
            <div class="bench"  (click)="addToMyReservations('B5')">b5</div>
        </div>
        <div class="r2c1">
            <div class="bench"  (click)="addToMyReservations('B6')">b6</div>
            <div class="bench"  (click)="addToMyReservations('B7')">b7</div>
            <div class="bench"  (click)="addToMyReservations('B8')">b8</div>
            <div class="bench"  (click)="addToMyReservations('B9')">b9</div>
            <div class="bench"  (click)="addToMyReservations('B10')">b10</div>
        </div>
        <div class="r3c1">
            <div class="bench"  (click)="addToMyReservations('B11')">b11</div>
            <div class="bench"  (click)="addToMyReservations('B12')">b12</div>
            <div class="bench"  (click)="addToMyReservations('B13')">b13</div>
            <div class="bench"  (click)="addToMyReservations('B14')">b14</div>
            <div class="bench"  (click)="addToMyReservations('B15')">b15</div>
        </div>
        <div class="r4c1">
            <div class="bench"  (click)="addToMyReservations('B16')">b16</div>
            <div class="bench"  (click)="addToMyReservations('B17')">b17</div>
            <div class="bench"  (click)="addToMyReservations('B18')">b18</div>
            <div class="bench"  (click)="addToMyReservations('B19')">b19</div>
            <div class="bench"  (click)="addToMyReservations('B20')">b20</div>
        </div>
        <div class="r5c1">
            <div class="bench"  (click)="addToMyReservations('B21')">b21</div>
            <div class="bench"  (click)="addToMyReservations('B22')">b22</div>
            <div class="bench"  (click)="addToMyReservations('B23')">b23</div>
            <div class="bench"  (click)="addToMyReservations('B24')">b24</div>
            <div class="bench"  (click)="addToMyReservations('B25')">b25</div>
        </div>
        <div class="r6c1">
            <div class="bench"  (click)="addToMyReservations('B26')">b26</div>
            <div class="bench"  (click)="addToMyReservations('B27')">b27</div>
            <div class="bench"  (click)="addToMyReservations('B28')">b28</div>
            <div class="bench"  (click)="addToMyReservations('B29')">b29</div>
            <div class="bench"  (click)="addToMyReservations('B30')">b30</div>
        </div>
    </div>

    <div class="div2">
        <div class="r1c1">
            <div class="bench"  (click)="addToMyReservations('B31')">b31</div>
            <div class="bench"  (click)="addToMyReservations('B32')">b32</div>
            <div class="bench"  (click)="addToMyReservations('B33')">b33</div>
            <div class="bench"  (click)="addToMyReservations('B34')">b34</div>
            <div class="bench"  (click)="addToMyReservations('B35')">b35</div>
        </div>
        <div class="r2c1">
            <div class="bench"  (click)="addToMyReservations('B36')">b36</div>
            <div class="bench"  (click)="addToMyReservations('B37')">b37</div>
            <div class="bench"  (click)="addToMyReservations('B38')">b38</div>
            <div class="bench"  (click)="addToMyReservations('B39')">b39</div>
            <div class="bench"  (click)="addToMyReservations('B40')">b40</div>
        </div>
        <div class="r3c1">
            <div class="bench"  (click)="addToMyReservations('B41')">b41</div>
            <div class="bench"  (click)="addToMyReservations('B42')">b42</div>
            <div class="bench"  (click)="addToMyReservations('B43')">b43</div>
            <div class="bench"  (click)="addToMyReservations('B44')">b44</div>
            <div class="bench"  (click)="addToMyReservations('B45')">b45</div>
        </div>
        <div class="r4c1">
            <div class="bench"  (click)="addToMyReservations('B46')">b46</div>
            <div class="bench"  (click)="addToMyReservations('B47')">b47</div>
            <div class="bench"  (click)="addToMyReservations('B48')">b48</div>
            <div class="bench"  (click)="addToMyReservations('B49')">b49</div>
            <div class="bench"  (click)="addToMyReservations('B50')">b50</div>
        </div>
        <div class="r5c1">
            <div class="bench"  (click)="addToMyReservations('B51')">b51</div>
            <div class="bench"  (click)="addToMyReservations('B52')">b52</div>
            <div class="bench"  (click)="addToMyReservations('B53')">b53</div>
            <div class="bench"  (click)="addToMyReservations('B54')">b54</div>
            <div class="bench"  (click)="addToMyReservations('B55')">b55</div>
        </div>
        <div class="r6c1">
            <div class="bench"  (click)="addToMyReservations('B56')">b56</div>
            <div class="bench"  (click)="addToMyReservations('B57')">b57</div>
            <div class="bench"  (click)="addToMyReservations('B58')">b58</div>
            <div class="bench"  (click)="addToMyReservations('B59')">b59</div>
            <div class="bench"  (click)="addToMyReservations('B60')">b60</div>
        </div>
    </div>

    <div class="div3">
        <div class="r1c3">
            <div class="bench"  (click)="addToMyReservations('B61')">b61</div>
            <div class="bench"  (click)="addToMyReservations('B62')">b62</div>
            <div class="bench"  (click)="addToMyReservations('B63')">b63</div>
            <div class="bench"  (click)="addToMyReservations('B64')">b64</div>
            <div class="bench"  (click)="addToMyReservations('B65')">b65</div>
        </div>
        <div class="r2c3">
            <div class="bench"  (click)="addToMyReservations('B66')">b66</div>
            <div class="bench"  (click)="addToMyReservations('B67')">b67</div>
            <div class="bench"  (click)="addToMyReservations('B68')">b68</div>
            <div class="bench"  (click)="addToMyReservations('B69')">b69</div>
            <div class="bench"  (click)="addToMyReservations('B70')">b70</div>
        </div>
        <div class="r3c3">
            <div class="bench"  (click)="addToMyReservations('B71')">b71</div>
            <div class="bench"  (click)="addToMyReservations('B72')">b72</div>
            <div class="bench"  (click)="addToMyReservations('B73')">b73</div>
            <div class="bench"  (click)="addToMyReservations('B74')">b74</div>
            <div class="bench"  (click)="addToMyReservations('B75')">b75</div>
        </div>
        <div class="r4c3">
            <div class="bench"  (click)="addToMyReservations('B76')">b76</div>
            <div class="bench"  (click)="addToMyReservations('B77')">b77</div>
            <div class="bench"  (click)="addToMyReservations('B78')">b78</div>
            <div class="bench"  (click)="addToMyReservations('B79')">b79</div>
            <div class="bench"  (click)="addToMyReservations('B80')">b80</div>
        </div>
        <div class="r5c3">
            <div class="bench"  (click)="addToMyReservations('B81')">b81</div>
            <div class="bench"  (click)="addToMyReservations('B82')">b82</div>
            <div class="bench"  (click)="addToMyReservations('B83')">b83</div>
            <div class="bench"  (click)="addToMyReservations('B84')">b84</div>
            <div class="bench"  (click)="addToMyReservations('B85')">b85</div>
        </div>
        <div class="r6c3">
            <div class="bench"  (click)="addToMyReservations('B86')">b86</div>
            <div class="bench"  (click)="addToMyReservations('B87')">b87</div>
            <div class="bench"  (click)="addToMyReservations('B88')">b88</div>
            <div class="bench"  (click)="addToMyReservations('B89')">b89</div>
            <div class="bench"  (click)="addToMyReservations('B90')">b90</div>
        </div>
    </div>

    <div class="div4">
        <div class="r1c4">
            <div class="bench"  (click)="addToMyReservations('B91')">b91</div>
            <div class="bench"  (click)="addToMyReservations('B92')">b92</div>
            <div class="bench"  (click)="addToMyReservations('B93')">b93</div>
            <div class="bench"  (click)="addToMyReservations('B94')">b94</div>
            <div class="bench"  (click)="addToMyReservations('B95')">b95</div>
        </div>
        <div class="r2c4">
            <div class="bench"  (click)="addToMyReservations('B96')">b96</div>
            <div class="bench"  (click)="addToMyReservations('B97')">b97</div>
            <div class="bench"  (click)="addToMyReservations('B98')">b98</div>
            <div class="bench"  (click)="addToMyReservations('B99')">b99</div>
            <div class="bench"  (click)="addToMyReservations('B100')">b100</div>
        </div>
        <div class="r3c4">
            <div class="bench"  (click)="addToMyReservations('B101')">b101</div>
            <div class="bench"  (click)="addToMyReservations('B102')">b102</div>
            <div class="bench"  (click)="addToMyReservations('B103')">b103</div>
            <div class="bench"  (click)="addToMyReservations('B104')">b104</div>
            <div class="bench"  (click)="addToMyReservations('B105')">b105</div>
        </div>
        <div class="r4c4">
            <div class="bench"  (click)="addToMyReservations('B106')">b106</div>
            <div class="bench"  (click)="addToMyReservations('B107')">b107</div>
            <div class="bench"  (click)="addToMyReservations('B108')">b108</div>
            <div class="bench"  (click)="addToMyReservations('B109')">b109</div>
            <div class="bench"  (click)="addToMyReservations('B110')">b110</div>
        </div>
        <div class="r5c4">
            <div class="bench"  (click)="addToMyReservations('B111')">b111</div>
            <div class="bench"  (click)="addToMyReservations('B112')">b112</div>
            <div class="bench"  (click)="addToMyReservations('B113')">b113</div>
            <div class="bench"  (click)="addToMyReservations('B114')">b114</div>
            <div class="bench"  (click)="addToMyReservations('B115')">b115</div>
        </div>
        <div class="r6c4">
            <div class="bench"  (click)="addToMyReservations('B116')">b116</div>
            <div class="bench"  (click)="addToMyReservations('B117')">b117</div>
            <div class="bench"  (click)="addToMyReservations('B118')">b118</div>
            <div class="bench"  (click)="addToMyReservations('B119')">b119</div>
            <div class="bench"  (click)="addToMyReservations('B120')">b120</div>
        </div>
    </div>
</div>
