<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <h1 class="re" >My Reservations</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/myprofile">Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             MENU
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/resources">Reserve Company Resources</a></li>
              <li><a class="dropdown-item" routerLink="/spaces">Reserve Company Spaces</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="body">
<br>
<div class="my-reservations">
    <!-- <div *ngIf="cartItems.length === 0" class="no-reservations">No reservations</div> -->
    <div class="reservation" *ngFor="let item of cartItems">
      <div class="reservation-info ">
        <img [src]="item.image" alt="{{ item.name }}" class="reservation-image">
        <div class="reservation-name">{{ item.name }}</div>
        <button class="cancel-button" (click)="cancelReservation(item)">Cancel</button>
      </div>
    </div>
</div>
</div>




  